build_clean.sh
alsoundsystem.VC.db
Makefile_clean
.vs/alsoundsystem/v15/ipch/AutoPCH/feb252ac01ec772a/MAIN.ipch
.vs/alsoundsystem/v15/ipch/AutoPCH/fd5c2227bdcec1a2/ALLISTENER.ipch
.vs/alsoundsystem/v15/ipch/AutoPCH/f3e071ee925070a4/IPL_STATIC_MESH.ipch
.vs/alsoundsystem/v15/ipch/AutoPCH/32014c667794fc18/STEAMAUDIO_FMOD.ipch
.vs/alsoundsystem/v15/ipch/AutoPCH/2f971b1f5222c836/ALSOUND_BINARY_DECODER.ipch
.vs/alsoundsystem/v15/ipch/AutoPCH/2c7547e94b941bf/ALSOUND_BINARY_DECODER.ipch
.vs/alsoundsystem/v15/ipch/AutoPCH/288051c6b8a1c2eb/ALSOUNDSYSTEM.ipch
.vs/alsoundsystem/v15/ipch/AutoPCH/22b23e9494c9327b/STEAMAUDIO_FMOD.ipch
.vs/alsoundsystem/v15/ipch/AutoPCH/16153b3cfe788371/ENVIRONMENT_PROXY.ipch
.vs/alsoundsystem/v15/Browse.VC.db
.vs/alsoundsystem/v15/ipch/AutoPCH/772fdf5dda07baa5/ALBUFFER.ipch
.vs/alsoundsystem/v15/ipch/AutoPCH/70c4b2c38cae811c/IPL_SCENE.ipch
.vs/alsoundsystem/v15/ipch/AutoPCH/65a3aadc0e071614/ALAUXILIARYEFFECTSLOT.ipch
.vs/alsoundsystem/v15/ipch/AutoPCH/5a0a63253e196e4a/ALSOUND_BUFFER_BASE.ipch
.vs/alsoundsystem/v15/ipch/AutoPCH/557a772b02084dee/IPL_SCENE.ipch
.vs/alsoundsystem/v15/ipch/AutoPCH/5115398528456a32/AUDIO_ENGINE_SETTINGS.ipch
.vs/alsoundsystem/v15/ipch/AutoPCH/4a902b105be01952/ENVIRONMENT_PROXY.ipch
.vs/alsoundsystem/v15/ipch/AutoPCH/4900a5bc67d9afa0/ALSOUND_COORDINATE_SYSTEM.ipch
.vs/alsoundsystem/v15/ipch/AutoPCH/4132b0b64032ae3a/AUTO_LOAD_LIBRARY.ipch
.vs/alsoundsystem/v15/ipch/AutoPCH/3e1193011a6e32b7/IPL_CONTEXT.ipch
.vs/alsoundsystem/v15/ipch/AutoPCH/3744e3e17627e735/STEAM_AUDIO.ipch
.vs/alsoundsystem/v15/ipch/AutoPCH/c95a628ff17a6ce5/IPL_CONTEXT.ipch
.vs/alsoundsystem/v15/ipch/AutoPCH/c7055cc80806f58c/ALBUFFER.ipch
.vs/alsoundsystem/v15/ipch/AutoPCH/c2981d23bb1f9e66/ALFILEFACTORY.ipch
.vs/alsoundsystem/v15/ipch/AutoPCH/b9e595603a282e05/ALAUXILIARYEFFECTSLOT.ipch
.vs/alsoundsystem/v15/ipch/AutoPCH/b0f0c5043cb84d47/STEAM_AUDIO.ipch
.vs/alsoundsystem/v15/ipch/AutoPCH/aeb944e35b5ecf7d/IPL_ENVIRONMENT.ipch
.vs/alsoundsystem/v15/ipch/AutoPCH/a7a8344432e3f77a/SPATIALIZER_EFFECT.ipch
.vs/alsoundsystem/v15/ipch/AutoPCH/96085083c7839fc6/ALSOUND_STEAM.ipch
.vs/alsoundsystem/v15/ipch/AutoPCH/81d0c66e92a3805d/MIX_RETURN_EFFECT.ipch
.vs/alsoundsystem/v15/ipch/AutoPCH/812a642f4c18ad48/REVERB_EFFECT.ipch
.vs/alsoundsystem/v15/ipch/AutoPCH/7e5ac02d5802683b/ALSOUNDSYSTEM_STEAM_AUDIO.ipch
.vs/alsoundsystem/v15/ipch/AutoPCH/ed9d4b4651914bba/ALSOUNDSYSTEM.ipch
.vs/alsoundsystem/v15/ipch/AutoPCH/e5bda01143dccf62/IPL_AUDIO_RESAMPLER.ipch
.vs/alsoundsystem/v15/ipch/AutoPCH/e3cc213d80d04136/ALSOUND_LOAD.ipch
.vs/alsoundsystem/v15/ipch/AutoPCH/e1f65767d11bc2fa/ALSOUNDSYSTEM_STEAM_AUDIO.ipch
.vs/alsoundsystem/v15/ipch/AutoPCH/df67651f12a4ba4e/ALSOUND.ipch
.vs/alsoundsystem/v15/ipch/AutoPCH/d9d9e097bacdaac9/AUTO_LOAD_LIBRARY.ipch
.vs/alsoundsystem/v15/ipch/AutoPCH/cfafc8bddc5e234b/ALEFFECT.ipch
alsoundsystem/x64/Release/alsoundsystem.tlog/link.write.1.tlog
alsoundsystem/x64/Release/alsoundsystem.tlog/link.read.1.tlog
alsoundsystem/x64/Release/alsoundsystem.tlog/link.delete.1.tlog
alsoundsystem/x64/Release/alsoundsystem.tlog/link.command.1.tlog
alsoundsystem/x64/Release/alsoundsystem.tlog/alsoundsystem.write.1u.tlog
alsoundsystem/x64/Release/alsoundsystem.tlog/CL.command.1.tlog
alsoundsystem/ClassDiagram.cd
alsoundsystem/x64/Release_test/alsoundsystem.tlog/link.read.1.tlog
alsoundsystem/x64/Release_test/alsoundsystem.tlog/link.command.1.tlog
alsoundsystem/x64/Release_test/alsoundsystem.tlog/alsoundsystem.write.1u.tlog
alsoundsystem/x64/Release_test/alsoundsystem.tlog/alsoundsystem.lastbuildstate
alsoundsystem/x64/Release/alsoundsystem.tlog/alsoundsystem.lastbuildstate
alsoundsystem/x64/Release/alsoundsystem.tlog/CL.write.1.tlog
alsoundsystem/x64/Release/alsoundsystem.tlog/CL.read.1.tlog
alsoundsystem/x64/Release_test/alsoundsystem.tlog/link.write.1.tlog
alsoundsystem/x64/Release_test/alsoundsystem.tlog/CL.write.1.tlog
alsoundsystem/x64/Release_test/alsoundsystem.tlog/CL.read.1.tlog
alsoundsystem/x64/Release_test/alsoundsystem.tlog/CL.command.1.tlog
x64/Release/banditradio.ogg
x64/Release/alsoundsystem.ipdb
x64/Release/alsoundsystem.iobj
x64/Release/alsoundsystem.exp
x64/Release_test/BIS1536-001-flac_24.flac
x64/Release/test_hrtf.bat
x64/Release/openallog.txt
x64/Release/hrtf.txt
x64/Release/default-48000.mhr
x64/Release/banditradio_mono.wav
x64/Release/banditradio.wav
x64/Release_test/zero_gravity5_stereo.wav
x64/Release_test/bp_MUS_LastStand.ogg
x64/Release_test/banditradio_mono.wav
x64/Release_test/banditradio.mp3
x64/Release_test/alsoundsystem.ipdb
x64/Release_test/alsoundsystem.iobj
x64/Release_test/alsoundsystem.exp
x64/Release_test/SoundHelix-Song-1.mp3
x64/Release_test/test_hrtf.bat
x64/Release_test/music_orig.wav
x64/Release_test/ehren-paper_lights-64.opus
x64/Release_test/detodos.opus
x64/Release_test/br_tofreeman08_out.raw
x64/Release_test/br_tofreeman08.wav
x64/Release_test/br_tofreeman08.raw
.vs/alsoundsystem/v15/ipch/AutoPCH/c2cc62d321bb9299/STEAMAUDIO_FMOD.ipch
.vs/alsoundsystem/v15/ipch/AutoPCH/bdc3e4a5f7394463/AUDIO_ENGINE_SETTINGS.ipch
.vs/alsoundsystem/v15/ipch/AutoPCH/61ad52779dd75f2e/ALSOUND_DURATION.ipch
.vs/alsoundsystem/v15/ipch/AutoPCH/59917b220b3f297f/MIX_RETURN_EFFECT.ipch
alsoundsystem/x64/Release/alsoundsystem.tlog/unsuccessfulbuild
build_winx64/alsoundsystem.vcxproj
build_winx64/alsoundsystem.sln
build_winx64/alsoundsystem.dir/RelWithDebInfo/alsoundsystem.tlog/link.write.1.tlog
build_winx64/alsoundsystem.dir/RelWithDebInfo/alsoundsystem.tlog/link.read.1.tlog
build_winx64/alsoundsystem.dir/RelWithDebInfo/alsoundsystem.tlog/link.command.1.tlog
build_winx64/alsoundsystem.dir/RelWithDebInfo/alsoundsystem.tlog/custombuild.write.1.tlog
build_winx64/CMakeFiles/generate.stamp
build_winx64/CMakeFiles/feature_tests.cxx
build_winx64/CMakeFiles/feature_tests.bin
build_winx64/CMakeFiles/cmake.check_cache
build_winx64/CMakeFiles/TargetDirectories.txt
build_winx64/CMakeFiles/6c91cda4a63eed576ca4acaae51e141c/generate.stamp.rule
build_winx64/ALL_BUILD.vcxproj
build_winx64/.vs/alsoundsystem/v15/ipch/AutoPCH/cff6e88907005997/MAIN.ipch
build_winx64/.vs/alsoundsystem/v15/ipch/AutoPCH/be27fd4e5cc7825a/ALEFFECT_EFX.ipch
build_winx64/.vs/alsoundsystem/v15/ipch/AutoPCH/b9c78822faa04d90/STEAM_AUDIO.ipch
build_winx64/.vs/alsoundsystem/v15/ipch/AutoPCH/7f7749731543239f/ALSOUNDSYSTEM.ipch
build_winx64/.vs/alsoundsystem/v15/Solution.VC.db-wal
build_winx64/x64/RelWithDebInfo/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.write.1.tlog
build_winx64/x64/RelWithDebInfo/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.read.1.tlog
build_winx64/x64/RelWithDebInfo/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.command.1.tlog
build_winx64/x64/RelWithDebInfo/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build_winx64/cmake_install.cmake
build_winx64/alsoundsystem.vcxproj.filters
build_winx64/CMakeFiles/3.12.1/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build_winx64/CMakeFiles/3.12.1/VCTargetsPath.vcxproj
build_winx64/CMakeFiles/3.12.1/VCTargetsPath.txt
build_winx64/CMakeFiles/3.12.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build_winx64/CMakeFiles/3.12.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build_winx64/CMakeFiles/3.12.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build_winx64/CMakeFiles/3.12.1/CMakeSystem.cmake
build_winx64/CMakeFiles/3.12.1/CMakeRCCompiler.cmake
build_winx64/CMakeFiles/3.12.1/CMakeDetermineCompilerABI_CXX.bin
build_winx64/CMakeFiles/3.12.1/CMakeCXXCompiler.cmake
build_winx64/CMakeCache.txt
build_winx64/ALL_BUILD.vcxproj.filters
build_winx64/alsoundsystem.dir/RelWithDebInfo/alsoundsystem.tlog/custombuild.read.1.tlog
build_winx64/alsoundsystem.dir/RelWithDebInfo/alsoundsystem.tlog/custombuild.command.1.tlog
build_winx64/alsoundsystem.dir/RelWithDebInfo/alsoundsystem.tlog/alsoundsystem.write.1u.tlog
build_winx64/alsoundsystem.dir/RelWithDebInfo/alsoundsystem.tlog/alsoundsystem.lastbuildstate
build_winx64/alsoundsystem.dir/RelWithDebInfo/alsoundsystem.tlog/CL.write.1.tlog
build_winx64/alsoundsystem.dir/RelWithDebInfo/alsoundsystem.tlog/CL.read.1.tlog
build_winx64/.vs/alsoundsystem/v15/Solution.VC.db-shm
build_winx64/.vs/alsoundsystem/v15/Solution.VC.db
build_winx64/.vs/alsoundsystem/v15/Browse.VC.db
build_winx64/alsoundsystem.dir/RelWithDebInfo/alsoundsystem.tlog/CL.command.1.tlog
build_winx64/ZERO_CHECK.vcxproj.filters
build_winx64/ZERO_CHECK.vcxproj
build_winx64/RelWithDebInfo/alsoundsystem.exp
build_winx64/CMakeFiles/generate.stamp.list
build_winx64/CMakeFiles/generate.stamp.depend
build_winx64/CMakeFiles/3.12.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build_winx64/CMakeFiles/3.12.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build_winx64/CMakeFiles/3.12.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build_winx64/CMakeFiles/3.12.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build_winx64/CMakeFiles/3.12.1/CompilerIdCXX/CompilerIdCXX.vcxproj
build_winx64/CMakeFiles/3.12.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
